{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <div class="404">
        404
    </div>
    <div>
        Ошибка при загрузке. Страница не найдена.
    </div>
</div>

{% endblock %}
