{% extends "__layout.twig" %}

{% block content %}
    <h1>{{title}}</h1>
    <ul class="nav nav-pills nav-fill mb-4">
        <li class="nav-item">
        <a class="nav-link" href="/xboxes/{{id}}?show=info"><strong>
        Описание
        </strong></a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/xboxes/{{id}}?show=image"><strong>
        Фото
        </strong></a>
        </li>
    </ul>


    <div class="container">
    {% block objectContent %}
    {% endblock %}
    </div>
{% endblock %}