{% extends "object.twig" %}

{% block objectContent %}
<div class="container">
    <h5>Бюджетный вариант консоли 9 поколения.<br>
        Позиционируется как платформа для игры в новинки в FullHD/60FPS или QuadHD/30FPS.<br>
        На текущий момент является отличным вариантом для тех, кто редко играет и не гонится за графикой, любителей спортсимов и инди игр.</h5>
    299 <i class="fa-solid fa-dollar-sign"></i><br>
    27000 <i class="fa-solid fa-rouble"></i>
</div>
{% endblock %}