{% extends "object.twig" %}

{% block objectContent %}
<div class="container">
    <h5>Полноценная игровая консоль 9 поколения, самая мощная на рынке на данный момент. <br>
        Позиционируется как платформа для игры в новинки в QuadHD/60FPS или 4K/30FPS. <br>
        Лучший вариант для тех, кому нужен консольный опыт игры, но не важны эксклюзивные игры Sony.</h5>
    499 <i class="fa-solid fa-dollar-sign"></i><br>
    57000 <i class="fa-solid fa-rouble"></i>
</div>
{% endblock %}