.main-image-wrapper {
    width: 130px;
    height: 130px;
    border: 2px solid silver;
    margin: 2px;
    box-shadow: 0 0 16px silver;
    border-radius: 10%;
    overflow: hidden;
}

.main-image {
    height: 100%;
}

.col{
    margin: 1px;
}

pre {
    font-family: Arial, Helvetica, sans-serif !important;
    white-space: pre-wrap;
}